.aqi_table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;

  max-width: 700px;
}

.aqi_th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.aqi_th > .aqi_td {
  white-space: normal;
  justify-content: center;
}

.aqi_tr {
  display: flex;
  flex-flow: row nowrap;
  color: #ffffff;
  background-color: #716b6b;
}

/*.aqi_tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.aqi_tr:nth-of-type(odd) {
  background-color: #ffffff;
}*/

.aqi_td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.good {
  color: #55a84f;
}

.satisfactory {
  color: #a3c853;
}

.moderate {
  color: #fff833;
}

.poor {
  color: #f29c33;
}

.very_poor {
  color: #e93f33;
}

.severe {
  color: #af2d24;
}
